header
    ul(class="menu_list")
        li 
            a(class="menu_item" href="/products") ALL PRODUCTS
        li 
            a(class="menu_item" href="/filteredProducts?category=camisetas") CAMISETAS
        li 
            a(class="menu_item" href="/filteredProducts?category=sudaderas") SUDADERAS 
        li 
            a(class="menu_item" href="/filteredProducts?category=pantalones") PANTALONES 
        li 
            a(class="menu_item" href="/filteredProducts?category=abrigos") ABRIGOS  
        li 
            a(class="menu_item" href="/dashboard") SIGN IN  